* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;

  padding: 0;
  margin: 0;

  font-family: "Nunito", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.9;
  color: $color-dark;

  background: $color-light;
}

.wrapper {
  min-height: 100%;
  overflow-x: hidden;

  display: flex;
  flex-direction: column;
}

.page {
  flex: 1 1 auto;
}

.container {
  max-width: 1150px;
  padding: 0 15px;
  margin: 0 auto;
}